@model SocialGameWebsite.Models.RelationshipViewModel
@using SocialGameWebsite.Util
@{
    string UID = Model.UserA.Equals(User.Identity.Name)? Base64.Encode(Model.UserB.Email) : Base64.Encode(Model.UserA.Email);
    string divUID = "relationshipPartialView" + UID.Replace("=", "\\=");
}
<div id="relationshipStrenght">
    <span class="label">@Html.LabelFor(model => model.Strenght)</span>
    <span class="value">@Html.ValueFor(model => model.Strenght)</span>
</div>

<div id="relationshipName">
    <span class="label">@Html.LabelFor(model => model.RelationshipTag.Name)</span>
    <span class="value">@Html.ValueFor(model => model.RelationshipTag.Name)</span>
</div>

<script type="text/javascript">
    function disableBeforePost() {
        $("#viewRelationshipFormSubmit").prop('disabled', true);
    }
</script>

@using (Ajax.BeginForm("EditAction", "Relationship",
    new { 
        UserA = Base64.Encode(Model.UserA.Email),
        UserB = Base64.Encode(Model.UserB.Email)
    },
    new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = @divUID
    }, 
    new { id = "detailsRelationshipForm" }))
{
    @Html.AntiForgeryToken()

    <input type="submit" id="viewRelationshipFormSubmit" value="Edit" />
}

@using (Ajax.BeginForm("Remove", "Relationship",
    new
    {
        UserA = SocialGameWebsite.Util.Base64.Encode(Model.UserA.Email),
        UserB = SocialGameWebsite.Util.Base64.Encode(Model.UserB.Email)
    },
    new AjaxOptions
    {
        HttpMethod = "Post",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = @divUID
    }, 
    new { id = "detailsRelationshipForm" }))
{
    @Html.AntiForgeryToken()

    <input type="submit" id="viewRelationshipFormSubmit" value="Remove" />
}



