<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - SocialGame</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/randombackground")
    </head>
    <body>
        <header>
            @*<div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("SocialGame", "Index", "Home")</p>
                </div>
            </div>*@
            @Html.Action("header","home")         
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("My Profile", "Index", "Home")</li>
                        <li>@Html.ActionLink("Pending Relationships", "Requests", "Relationship")</li>
                        <li>@Html.ActionLink("Leaderboards", "Index", "Leaderboard")</li>
                        <li>@Html.ActionLink("My Network", "MyNetwork", "Network")</li>
                        <li>@Html.ActionLink("Global Network", "GlobalNetwork", "Network")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - SocialGame</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
