@using SocialGameWebsite.Models;
@model SocialGameWebsite.Models.Top10UserNetworkStrongestLeaderBoardViewModel

<h4>User Network Strength Top 10:</h4>

<table>
    <tr>
        <th>Postion</th>
        <th>Name</th>
        <th>Network Average Strength</th>
    </tr>
    @if (User.Identity.IsAuthenticated)
    {
        foreach (UserNetworkStrengthScoreViewModel line in Model.Scores)
        {
            if (line.UserEmail == User.Identity.Name)
            {
                <tr>
                    <td><strong>@line.Position</strong></td>
                    <td><strong>@line.UserName @line.UserSurname</strong></td>
                    <td><strong>@String.Format("{0:0.00}", line.UserNetworkAverageStrength)</strong></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>@line.Position</td>
                    <td>@line.UserName @line.UserSurname</td>
                    <td>@String.Format("{0:0.00}", line.UserNetworkAverageStrength)</td>
                </tr>
            }
        }
        if (!Model.IsInTopTen && Model.HasScore)
        {
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr>
                <td><strong>@Model.MyScore.Position</strong></td>
                <td><strong>@Model.MyScore.UserName @Model.MyScore.UserSurname</strong></td>
                <td><strong>@String.Format("{0:0.00}", Model.MyScore.UserNetworkAverageStrength)</strong></td>
            </tr>
        }
        if (!Model.HasScore)
        {
            <tr>You don't have a score yet!</tr>
        }

    }
    else
    {
        foreach (UserNetworkStrengthScoreViewModel line in Model.Scores)
        {
            <tr>
                <td>@line.Position</td>
                <td>@line.UserName @line.UserSurname</td>
                <td>@String.Format("{0:0.00}", line.UserNetworkAverageStrength)</td>
            </tr>
        }
    }
</table>