@using SocialGameWebsite.Models;
@model SocialGameWebsite.Models.Top10UserNetworkSizeLeaderBoardViewModel

<h4>User Network Size Top 10:</h4>

<table>
    <tr>
        <th>Postion</th>
        <th>Name</th>
        <th>Network Size</th>
    </tr>
    @if (User.Identity.IsAuthenticated)
    {
        foreach (UserNetworkSizeScoreViewModel line in Model.Scores)
        {
            if (line.UserEmail == User.Identity.Name)
            {
                <tr>
                    <td><strong>@line.Position</strong></td>
                    <td><strong>@line.UserName @line.UserSurname</strong></td>
                    <td><strong>@line.UserNetworkSize</strong></td>    
                </tr>
            }
            else
            {
                <tr>
                    <td>@line.Position</td>
                    <td>@line.UserName @line.UserSurname</td>
                    <td>@line.UserNetworkSize</td>
                </tr>
            }
         }
        if (!Model.IsInTopTen && Model.HasScore)
        {
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
            <tr>
                <td><strong>@Model.MyScore.Position</strong></td>
                <td><strong>@Model.MyScore.UserName @Model.MyScore.UserSurname</strong></td>
                <td><strong>@Model.MyScore.UserNetworkSize</strong></td> 
            </tr>
        }
        if (!Model.HasScore)
        {
            <tr>You don't have a score yet!</tr>
        }

    }
    else
    {
        foreach (UserNetworkSizeScoreViewModel line in Model.Scores)
        {
            <tr>
                <td>@line.Position</td>
                <td>@line.UserName @line.UserSurname</td>
                <td>@line.UserNetworkSize</td>
            </tr>
        }
    }
</table>